// gulp sass

$test: #bada55;
$writing: "'Architects Daughter', cursive";
$title: "Merriweather", serif;
$text: "Roboto", sans-serif;

$light: #d6fc01;
$lightdim: rgba(229, 245, 141, 0.4);
$test2: rgb(200, 156, 245);

$black: #1e1f23;
$white: #e9ecf3;
$dkgrey: #555a5f;
$orange: #f3c083;
$dkorange: #ff9900;
$green: #63a550;
$blue: #3b5998;
$dkblue: #0e385f;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: $black;
  font-size: 16px;
  font-family: $text;
}

p {
  line-height: 1.25em;
  font-size: 1.2rem;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}
header {
  background-color: $orange;
  color: $dkgrey;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: $title;
  padding: 1em;
}
.vis-hidden {
  visibility: hidden;
}
.disp-none {
  display: none;
}

section {
  padding: 1em;
  margin: 0 auto;
  &.instructions {
    width: 80%;
    li {
      line-height: 1.2em;
      font-size: 1.2rem;
      margin: 0.5em 0;
    }
  }
  &.game-section {
    width: 40%;
  }

}


.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  .message{
    margin-left: 1em;
  }
  .buttons {
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    &:hover{
      cursor: pointer;
    }
    &.playBtn{
      background-color: $dkorange;
      color: $dkgrey;
      margin-right: 1em;
      &.noclick{
        pointer-events: none;
        background-color: $orange;
      }
    }
    &.playBtn:hover{
      background-color: $orange;
      color: $black;
    }
    &.quitBtn{
      background-color: $black;
      color: $orange;
    }
    &.quitBtn:hover{
      background-color: $dkgrey;
      color: $dkorange;
    }
  }
}
input.guess{
  font-size: 1.2rem;
  padding: 0.5em 0.2em;
  width: 50%;
}
.game-container {
  .score-wrapper{margin-bottom: 1em;}
  
  .scores{
    min-width: 22em;
    width: 50%;
    display: flex;
    justify-content: space-between;
  li.score{
    font-size: 1.5rem;
    font-family: $title;
  }
}}
.game-word-wrapper{
  
  .animalType{
    font-weight: 700;
    text-transform: uppercase;
    
  }
  .animalToGuess{
    margin-left: 1em;
  }
  .game-text{
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  .lights{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    li{
      border: 1px solid $light;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      
    }
    li[class^="lightbulbs"]{
      background-color: $light;
      box-shadow: 0 0 5px 0px $light;
      color: #FF7303;
      text-shadow: #ff4a03 0px 0px 3px, #ffbc03 0px 0px 7px;
}


    }
    li[class^="lightbulbs"].off{
      background-color: $lightdim;
      box-shadow: none;
      color: darken($light, 20%);
      text-shadow: unset;
    }

  }
  

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
  section.game-section {
    width: 80%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 13px;
  }

}