// gulp sass

$test: #bada55;
$writing: "'Architects Daughter', cursive";
$title: "Merriweather", serif;
$text: "Roboto", sans-serif;

$test1: rgb(199, 247, 152);
$test2: rgb(200, 156, 245);

$black: #1e1f23;
$white: #e9ecf3;
$dkgrey: #555a5f;
$orange: #f3c083;
$dkorange: #ff9900;
$green: #63a550;
$blue: #3b5998;
$dkblue: #0e385f;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: $black;
  font-size: 16px;
  font-family: $text;
}
@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}
p {
  line-height: 1.25em;
  font-size: 1.2rem;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}
header {
  background-color: $orange;
  color: $dkgrey;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: $title;
  padding: 1em;
}

section {
  padding: 1em;
  margin: 0 auto;
  &.instructions {
    width: 80%;
    li {
      line-height: 1.2em;
      font-size: 1.2rem;
      margin: 0.5em 0;
    }
  }
  &.game-section {
    width: 40%;
  }
}
.button-container {
  .buttons {
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    &.playBtn{
      background-color: $dkorange;
      color: $dkgrey;
    }
  }
}
.vis-hidden {
  visibility: hidden;
}
.disp-none {
  display: none;
}
